If:
  PathMatch: ^main/.*\.(c|cc|cpp|cxx|h|hpp)$
CompileFlags:
  BuiltinHeaders: QueryDriver
  Remove:
    - -fno-shrink-wrap
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
    - -march=*
Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - cert-*
      - clang-analyzer-*
      - cppcoreguidelines-*
      - misc-*
      - modernize-*
      - performance-*
      - portability-*
      - readability-*
    Remove:
      - cppcoreguidelines-avoid-c-arrays
      - cppcoreguidelines-avoid-do-while
      - cppcoreguidelines-avoid-magic-numbers
      - cppcoreguidelines-pro-bounds-array-to-pointer-decay
      - cppcoreguidelines-pro-type-union-access
      - cppcoreguidelines-pro-type-vararg
      - modernize-avoid-c-arrays
      - modernize-use-nodiscard
      - modernize-use-trailing-return-type
      - readability-identifier-length
      - readability-magic-numbers
    CheckOptions:
      readability-function-cognitive-complexity.IgnoreMacros: true
      cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: true
